section.home
    .jumbotron.home-jumbotron
        .container
            h1.display-4 Запишись на бесплатное занятие!
            p.lead
                | Для новых клиентов первое занятие бесплатно!
            hr.my-4
            p
                | Вам необходимо, выбрать удобное вам время и дату. Так так же можно выбрать тренера!
            p.lead
                a.btn.btn-primary.btn-lg(href='#', role='button')
                    include ../../img/svg/flash.svg
                    span Записаться!
