section.home
    .jumbotron.home-jumbotron
        .container
            h1.display-4 Запишись на бесплатное занятие!
            p.lead
                | Для новых клиентов первое занятие бесплатно!
            hr.my-4
            p
                | Вам необходимо, выбрать удобное вам время и дату. Так так же можно выбрать тренера!
            p.lead
                a.btn.btn-primary.btn-lg(href='#', role='button')
                    include ../../img/svg/flash.svg
                    span Записаться!
    section.home-trainers
        .container
            .home-trainers__title.text-center
                h2 Наши тренеры
            .home-trainers__container
                .home-trainers__item
                    .card
                        .home-trainers__item-img(style='background-image: url("../../img/trener1.jpg");')
                        .card-body
                            h5.card-title Card title
                            p.card-text
                                | Some quick example text to build on the card title and make up the bulk of the card's content.
                            a.btn.btn-primary(href='#') Go somewhere
                .home-trainers__item
                    .card
                        .home-trainers__item-img(style='background-image: url("../../img/trener2.jpg");')
                        .card-body
                            h5.card-title Card title
                            p.card-text
                                | Some quick example text to build on the card title and make up the bulk of the card's content.
                            a.btn.btn-primary(href='#') Go somewhere
                .home-trainers__item
                    .card
                        .home-trainers__item-img(style='background-image: url("../../img/trener3.jpg");')
                        .card-body
                            h5.card-title Card title
                            p.card-text
                                | Some quick example text to build on the card title and make up the bulk of the card's content.
                            a.btn.btn-primary(href='#') Go somewhere
                .home-trainers__item
                    .card
                        .home-trainers__item-img(style='background-image: url("../../img/trener4.jpg");')
                        .card-body
                            h5.card-title Card title
                            p.card-text
                                | Some quick example text to build on the card title and make up the bulk of the card's content.
                            a.btn.btn-primary(href='#') Go somewhere
                .home-trainers__item
                    .card
                        .home-trainers__item-img(style='background-image: url("../../img/trener1.jpg");')
                        .card-body
                            h5.card-title Card title
                            p.card-text
                                | Some quick example text to build on the card title and make up the bulk of the card's content.
                            a.btn.btn-primary(href='#') Go somewhere
        section.home-catalog
            .home-trainers__title.text-center
                h2 Каталог товаров
            .home-catalog__container
                .home-catalog__item
                    .card
                        .home-catalog__item-img
                            include ../../img/svg/phytonutrients.svg
                        .card-body
                            h5.card-title Card title
                            a.btn(href='#') Go somewhere
                .home-catalog__item
                    .card
                        .home-catalog__item-img
                            include ../../img/svg/phytonutrients.svg
                        .card-body
                            h5.card-title Card title
                            a.btn(href='#') Go somewhere
                .home-catalog__item
                    .card
                        .home-catalog__item-img
                            include ../../img/svg/phytonutrients.svg
                        .card-body
                            h5.card-title Card title
                            a.btn(href='#') Go somewhere
                .home-catalog__item
                    .card
                        .home-catalog__item-img
                            include ../../img/svg/phytonutrients.svg
                        .card-body
                            h5.card-title Card title
                            a.btn(href='#') Go somewhere
                .home-catalog__item
                    .card
                        .home-catalog__item-img
                            include ../../img/svg/phytonutrients.svg
                        .card-body
                            h5.card-title Card title
                            a.btn(href='#') Go somewhere
                .home-catalog__item
                    .card
                        .home-catalog__item-img
                            include ../../img/svg/phytonutrients.svg
                        .card-body
                            h5.card-title Card title
                            a.btn(href='#') Go somewhere