.articles {
  &-wrap {
    display: flex;
    flex-wrap: wrap;
  }
  &-item {
    width: 50%;
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    @include media($small){
      width: 100%;
      height: 250px;
    }
    &:nth-child(3n+1){
      width: 100%;
      height: 400px;
      @include media($small){
        height: 250px;
      }
    }
    &__category {
      display: flex;
      position: absolute;
      top: 0;
      right: 0;
      padding: 10px;
      & > div {
        margin: 5px;
      }
    }
    &__date {
      position: absolute;
      top: 0;
      left: 0;
      padding: 20px;
      color: $white;
      font-family: $bold;
    }
    &__new {
      svg {
        width: 40px;
        height: 40px;
        fill: $white;
      }
    }
    &__hot {
      svg {
        width: 40px;
        height: 40px;
        fill: $red;
      }
    }
    &__link {
      background-color: rgba(0,0,0,.8);
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      padding: 30px rem(60);
      transition: all linear .2s;
      @include media($large){
        padding: 20px rem(20);
      }
      &:hover {
        text-decoration: none;
        background-color: rgba(0,0,0,.9);
      }
    }
    &__title {
      font-family: $bold;
      color: $white;
      @include media($large){
        font-size: rem(22);
      }
      &:hover {
        text-decoration: none;
      }
    }
    &__text {
      color: $white;
      font-family: $red;
      max-height: 150px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
      @include media($large){
        font-size: rem(16);
      }
    }
  }
}