#loginModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
        .modal-content
            .modal-header
                h5#exampleModalLabel.modal-title Вход
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
            .modal-body
                form
                    .form-group
                        label(for='modal-login') Email address
                        input#modal-login.form-control(type='email', aria-describedby='emailHelp', placeholder='Enter email')
                    .form-group
                        label(for='modal-password') Password
                        input#modal-password.form-control(type='password', placeholder='Password')
            .modal-footer
                button.btn.btn-secondary(type='button', data-dismiss='modal') Закрыть
                button.btn.btn-primary(type='button') Войти