.home {
  &-jumbotron {
    padding-top: 5em;
    padding-bottom: 10em;
    h1 {
      font-family: $bold;
      @include media($medium){
        font-size: rem(45);
      }
    }
    p {
      font-family: $reg;
    }
    .btn.btn-primary {
      background-color: $red;
      display: inline-flex;
      align-items: center;
      outline: none;
      border-color: $red - 10%;
      border-width: 2px;
      margin-top: 10px;
      &:hover {
        background-color: $red + 20%;
      }
      svg {
        width: 18px;
        height: 18px;
        fill: #FFCA28;
      }
      span {
        font-size: rem(18);
        display: block;
        margin-left: rem(5);
      }
    }
  }

}