section.mail
    .container
        form.mail-form
            input.mail-input
            button Подпишись!

footer.footer-main
    .container
        .footer-main__wrap
            .footer-main__date @2018
            .footer-main__social
                .nav-social
                    a(href="#", class="nav-social__link")
                        include ../../img/svg/vk.svg
                    a(href="#", class="nav-social__link")
                        include ../../img/svg/instagram.svg
                    a(href="#", class="nav-social__link")
                        include ../../img/svg/youtube.svg